{% extends "BaseTemplates/base.html" %}

{% block linksAndScripts %}
<link href="static/css/styles.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block mainContent %}

<div class="card">
    <h4 class="card-header" style="text-align: center;">Leaderboard</h4>
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Top 3 most profitable users </h5>
        <div class="top3Players">
            {% for name, account in accounts.items() %}
            {% set subtotal= account["coinsValue"] + account["money"] %}
            {% set profit= subtotal - 100000 %}
            {% if loop.index <= 3 %}
            <div class="card border-success mb-3" onmouseover="createShadow(this)" onmouseout="destroyShadow(this)">
                <img src="static/images/avatar.png" alt="Avatar" class="avatar">
                <div class="card-body text-secondary">
                    <h5 class="card-title" style="text-align: center;">{{ name }}</h5>
                </div>
                <ul class="list-group list-group-flush text-secondary" style="text-align: center;">
                    <li class="list-group-item">{{ subtotal|roundDecimals }} $</li>
                    <li class="list-group-item">{{ profit |roundDecimals }} $</li>
                    <li class="list-group-item" style="color: green;">{{ ((profit/100000)*100)|roundDecimals }}%</li>
                </ul>
            </div>
            {% else %}

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <br><br>
    <div class="accordion" id="accordionExample">
        {% for name, account in accounts.items() %}
        {% if loop.first %}
        {% set expanded=true %}
        {% else: %}
        {% set expanded=false %}
        {% endif %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button {{ 'collapsed' if expanded==false else '' }}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="{{ expanded }}"
                    aria-controls="collapse{{ loop.index }}">
                    {% set subtotal= account["coinsValue"] + account["money"] %}
                    {% set profit= subtotal - 100000 %}
                    <div class="flex-account">
                        <div style="color: {{ 'green' if profit >= 0 else 'red' }} ;">
                            {{name}} : {{ (account["coinsValue"] + account["money"])|roundDecimals }}$
                        </div>
                        <div style="color: {{ 'green' if profit >= 0 else 'red' }} ;">
                            Profit : {{ profit |roundDecimals }}$
                        </div>
                        <div style="text-align: left;">
                            <div style="color: {{ 'green' if profit >= 0 else 'red' }} ; text-align: center;">
                                Profit : {{ ((profit/100000)*100)|roundDecimals }} %
                            </div>
                        </div>
                    </div>

                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {{ 'show' if expanded else '' }}"
                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="flex-coin">
                        {% for coin, value in account["profitPerCoin"].items() %}
                        {% set profitAccount = (value[1] - value[0])|roundDecimals %}
                        <span class="badge badge-pill badge-{{ 'success' if profitAccount >=0 else 'danger' }}"
                            style="font-size: 15px; margin-bottom: 5px;">
                            {{ coin }} : {{ profitAccount }} $
                            {% if profitAccount >=0 %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                            {% else: %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                            {% endif %}
                        </span>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->
{% endblock %}

{% block bottomScripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/demo/datatables-demo.js') }}"></script>
{% endblock %}